@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background: url("https://i.pinimg.com/originals/f9/34/47/f93447e3c71d18de6f7c5176fdf02a2c.jpg");
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 10px 10px 24px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 24px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 24px 2px rgba(0, 0, 0, 0.75);
}

.mes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 70px;
  background: #132452;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 10px 10px 24px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 24px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 24px 2px rgba(0, 0, 0, 0.75);
}

.mes h1 {
  font-size: 35px;
  color: white;
  font-weight: 800;
}

#dia-semana {
  margin-top: 20px;
  font-weight: bold;
  color: gray;
}

#dia {
  font-size: 70px;
}

#ano {
  color: gray;
}

#horario {
  padding: 20px;
  font-weight: bold;
}
